* text=auto !eol
Src/bench/Eiffel/Ace/ec.ico -text
Src/bench/Eiffel/Ace/ecdoc.ico -text
Src/bench/Eiffel/doc/Microsoft.NET/multiple_inheritance/diamond_inheritance.png -text
Src/bench/Eiffel/doc/Microsoft.NET/multiple_inheritance/method1/diamond_inheritance_on_dotnet-method1.png -text
Src/bench/Eiffel/doc/Microsoft.NET/multiple_inheritance/method2/diamond_inheritance_on_dotnet-method2.png -text
Src/bench/Eiffel/doc/debugger_files/image002.gif svneol=native#unset
Src/bench/Eiffel/doc/debugging/debugger_files/image001.png -text svneol=unset#application/octet-stream
Src/bench/Eiffel/doc/debugging/debugger_files/image002.gif -text
Src/bench/Eiffel/extra/finish_freezing/appl.ico -text
Src/dotnet/codedom_provider/test/tester/icons/tester.png -text
Src/dotnet/codedom_provider/tools/manager/ecdpman.ico -text
Src/dotnet/codedom_provider/tools/manager/icons/application.png -text
Src/dotnet/codedom_provider/tools/manager/icons/configuration.png -text
Src/dotnet/codedom_provider/tools/manager/icons/configuration_properties.png -text
Src/dotnet/codedom_provider/tools/manager/icons/delete.png -text
Src/dotnet/codedom_provider/tools/manager/icons/eiffel_software.png -text
Src/dotnet/codedom_provider/tools/manager/icons/help.png -text
Src/dotnet/codedom_provider/tools/manager/icons/info.png -text
Src/dotnet/codedom_provider/tools/manager/icons/new.png -text
Src/dotnet/codedom_provider/tools/manager/icons/new_wizard.png -text
Src/dotnet/codedom_provider/tools/manager/icons/revert.png -text
Src/dotnet/codedom_provider/tools/manager/icons/save.png -text
