C/CONFIGS/*.exe
C/CONFIGS/*.ilk
C/CONFIGS/*.lib
C/CONFIGS/*.obj
C/CONFIGS/*.pdb
C/Makefile
C/U/*.exe
C/U/*.ilk
C/U/*.lib
C/U/*.obj
C/U/*.pdb
C/bench/*.a
C/bench/*.exe
C/bench/*.ilk
C/bench/*.lib
C/bench/*.obj
C/bench/*.pdb
C/bench/Makefile
C/bench/Makefile.bak
C/bench/bytedump
C/bench/config.sh
C/bench/make.bat
C/bench/meltdump
C/config.sh
C/console/*.a
C/console/*.lib
C/console/*.obj
C/console/*.pdb
C/console/Makefile
C/console/config.sh
C/console/make.bat
C/desc/*.ilk
C/desc/*.lib
C/desc/*.obj
C/desc/*.pdb
C/desc/Makefile
C/desc/config.sh
C/desc/ise_desc.dll
C/desc/ise_desc.exp
C/desc/make.bat
C/eif_config.h
C/hints/*.exe
C/hints/*.ilk
C/hints/*.lib
C/hints/*.obj
C/hints/*.pdb
C/idrs/*.a
C/idrs/*.obj
C/idrs/*.pdb
C/idrs/Makefile
C/idrs/Makefile.bak
C/idrs/config.sh
C/idrs/make.bat
C/ipc/*.exe
C/ipc/*.ilk
C/ipc/*.lib
C/ipc/*.obj
C/ipc/*.pdb
C/ipc/Makefile
C/ipc/app/*.a
C/ipc/app/*.lib
C/ipc/app/*.obj
C/ipc/app/*.pdb
C/ipc/app/Makefile
C/ipc/app/Makefile.bak
C/ipc/app/config.sh
C/ipc/app/make.bat
C/ipc/daemon/*.ilk
C/ipc/daemon/*.obj
C/ipc/daemon/*.pdb
C/ipc/daemon/Makefile
C/ipc/daemon/Makefile.bak
C/ipc/daemon/config.sh
C/ipc/daemon/ecdbgd
C/ipc/daemon/ecdbgd.RES
C/ipc/daemon/ecdbgd.exe
C/ipc/daemon/ecdbgd.lmk
C/ipc/daemon/make.bat
C/ipc/ewb/*.a
C/ipc/ewb/*.lib
C/ipc/ewb/*.obj
C/ipc/ewb/*.pdb
C/ipc/ewb/Makefile
C/ipc/ewb/Makefile.bak
C/ipc/ewb/config.sh
C/ipc/ewb/make.bat
C/ipc/notes/*.exe
C/ipc/notes/*.ilk
C/ipc/notes/*.lib
C/ipc/notes/*.obj
C/ipc/notes/*.pdb
C/ipc/shared/*.a
C/ipc/shared/*.lib
C/ipc/shared/*.o
C/ipc/shared/*.obj
C/ipc/shared/*.pdb
C/ipc/shared/Makefile
C/ipc/shared/Makefile.bak
C/ipc/shared/config.sh
C/ipc/shared/make.bat
C/make.bat
C/mkdep
C/platform/*.a
C/platform/*.lib
C/platform/*.obj
C/platform/*.pdb
C/platform/Makefile
C/platform/Makefile.bak
C/platform/config.sh
C/platform/make.bat
C/run-time/*.a
C/run-time/*.exe
C/run-time/*.ilk
C/run-time/*.o
C/run-time/*.obj
C/run-time/*.pdb
C/run-time/*.so
C/run-time/FREELIB
C/run-time/LIB
C/run-time/Makefile
C/run-time/Makefile.bak
C/run-time/OBJDIR
C/run-time/U/*.exe
C/run-time/U/*.ilk
C/run-time/U/*.lib
C/run-time/U/*.obj
C/run-time/U/*.pdb
C/run-time/concurrency/*.exe
C/run-time/concurrency/*.ilk
C/run-time/concurrency/*.lib
C/run-time/concurrency/*.obj
C/run-time/concurrency/*.pdb
C/run-time/concurrency/daemon/*.exe
C/run-time/concurrency/daemon/*.ilk
C/run-time/concurrency/daemon/*.lib
C/run-time/concurrency/daemon/*.obj
C/run-time/concurrency/daemon/*.pdb
C/run-time/concurrency/library/*.exe
C/run-time/concurrency/library/*.ilk
C/run-time/concurrency/library/*.lib
C/run-time/concurrency/library/*.obj
C/run-time/concurrency/library/*.pdb
C/run-time/config.sh
C/run-time/eif_config.h
C/run-time/eif_confmagic.h
C/run-time/eif_portable.h
C/run-time/eif_size.h
C/run-time/finalized/*.exe
C/run-time/finalized/*.ilk
C/run-time/finalized/*.lib
C/run-time/finalized/*.obj
C/run-time/finalized/*.pdb
C/run-time/include/*.exe
C/run-time/include/*.ilk
C/run-time/include/*.lib
C/run-time/include/*.obj
C/run-time/include/*.pdb
C/run-time/make.bat
C/run-time/runtime_validation
C/run-time/tests/*.exe
C/run-time/tests/*.ilk
C/run-time/tests/*.lib
C/run-time/tests/*.obj
C/run-time/tests/*.pdb
C/run-time/wkbench/*.exe
C/run-time/wkbench/*.ilk
C/run-time/wkbench/*.lib
C/run-time/wkbench/*.obj
C/run-time/wkbench/*.pdb
C/run-time/x2c
C/shell/.bash_history
C_library/curl/lib/release-dll-ssl-dll
C_library/openssl/crypto/bf/asm/*.asm
C_library/openssl/crypto/bf/asm/*.obj
C_library/openssl/crypto/bn/asm/*.asm
C_library/openssl/crypto/bn/asm/*.obj
C_library/openssl/crypto/cast/asm/*.asm
C_library/openssl/crypto/cast/asm/*.obj
C_library/openssl/crypto/des/asm/*.asm
C_library/openssl/crypto/des/asm/*.obj
C_library/openssl/crypto/md5/asm/*.asm
C_library/openssl/crypto/md5/asm/*.obj
C_library/openssl/crypto/rc4/asm/*.asm
C_library/openssl/crypto/rc4/asm/*.obj
C_library/openssl/crypto/rc5/asm/*.asm
C_library/openssl/crypto/rc5/asm/*.obj
C_library/openssl/crypto/ripemd/asm/*.asm
C_library/openssl/crypto/ripemd/asm/*.obj
C_library/openssl/crypto/sha/asm/*.asm
C_library/openssl/crypto/sha/asm/*.obj
C_library/openssl/out32dll/*
C_library/openssl/tmp32dll/*
C_library/zlib/example.exe
C_library/zlib/example_d.exe
C_library/zlib/minigzip.exe
C_library/zlib/minigzip_d.exe
C_library/zlib/zdll.exp
C_library/zlib/zlib1.dll
C_library/zlib/zlib1.res
/Delivery
Delivery/scripts/windows/install/bin
Delivery/scripts/windows/install/binaries
Delivery/scripts/windows/install/redist/bin
Delivery/scripts/windows/install/redist/obj
Delivery/studio/wizards/new_projects/dotnet/spec
Delivery/studio/wizards/new_projects/vision2/spec
Delivery/studio/wizards/new_projects/wel/spec
Delivery/studio/wizards/others/precompile/spec
/Documentation
Eiffel/doc/Microsoft.NET/_private
Eiffel/doc/Microsoft.NET/_vti_cnf
Eiffel/doc/Microsoft.NET/_vti_pvt
Eiffel/doc/Microsoft.NET/dotnet_compiler_validity_rules/_private
Eiffel/doc/Microsoft.NET/dotnet_compiler_validity_rules/_vti_cnf
Eiffel/doc/Microsoft.NET/dotnet_compiler_validity_rules/_vti_pvt
Eiffel/doc/Microsoft.NET/generics/_private
Eiffel/doc/Microsoft.NET/generics/_vti_cnf
Eiffel/doc/Microsoft.NET/generics/_vti_pvt
Eiffel/doc/Microsoft.NET/multiple_inheritance/_private
Eiffel/doc/Microsoft.NET/multiple_inheritance/_vti_cnf
Eiffel/doc/Microsoft.NET/multiple_inheritance/_vti_pvt
Eiffel/doc/Microsoft.NET/multiple_inheritance/method1/_private
Eiffel/doc/Microsoft.NET/multiple_inheritance/method1/_vti_cnf
Eiffel/doc/Microsoft.NET/multiple_inheritance/method1/_vti_pvt
Eiffel/doc/Microsoft.NET/multiple_inheritance/method2/_private
Eiffel/doc/Microsoft.NET/multiple_inheritance/method2/_vti_cnf
Eiffel/doc/Microsoft.NET/multiple_inheritance/method2/_vti_pvt
Eiffel/doc/Microsoft.NET/porting_eiffel_base/_private
Eiffel/doc/Microsoft.NET/porting_eiffel_base/_vti_cnf
Eiffel/doc/Microsoft.NET/porting_eiffel_base/_vti_pvt
Eiffel/doc/Microsoft.NET/renaming_redefinition_covariance/_private
Eiffel/doc/Microsoft.NET/renaming_redefinition_covariance/_vti_cnf
Eiffel/doc/Microsoft.NET/renaming_redefinition_covariance/_vti_pvt
Eiffel/doc/_private
Eiffel/doc/_vti_cnf
Eiffel/doc/_vti_pvt
Eiffel/doc/benchmarks/_private
Eiffel/doc/benchmarks/_vti_cnf
Eiffel/doc/benchmarks/_vti_pvt
Eiffel/doc/compiler/_private
Eiffel/doc/compiler/_vti_cnf
Eiffel/doc/compiler/_vti_pvt
Eiffel/doc/compiler/agents/_private
Eiffel/doc/compiler/agents/_vti_cnf
Eiffel/doc/compiler/agents/_vti_pvt
Eiffel/doc/compiler/c_compilers/_private
Eiffel/doc/compiler/c_compilers/_vti_cnf
Eiffel/doc/compiler/c_compilers/_vti_pvt
Eiffel/doc/compiler/converitibility/_private
Eiffel/doc/compiler/converitibility/_vti_cnf
Eiffel/doc/compiler/converitibility/_vti_pvt
Eiffel/doc/compiler/expanded/_private
Eiffel/doc/compiler/expanded/_vti_cnf
Eiffel/doc/compiler/expanded/_vti_pvt
Eiffel/doc/compiler/expanded/drafts/_private
Eiffel/doc/compiler/expanded/drafts/_vti_cnf
Eiffel/doc/compiler/expanded/drafts/_vti_pvt
Eiffel/doc/compiler/old_release_notes/_private
Eiffel/doc/compiler/old_release_notes/_vti_cnf
Eiffel/doc/compiler/old_release_notes/_vti_pvt
Eiffel/doc/compiler/tuple/_private
Eiffel/doc/compiler/tuple/_vti_cnf
Eiffel/doc/compiler/tuple/_vti_pvt
Eiffel/doc/compiler/typed_pointer/_private
Eiffel/doc/compiler/typed_pointer/_vti_cnf
Eiffel/doc/compiler/typed_pointer/_vti_pvt
Eiffel/doc/debugger_files/_private
Eiffel/doc/debugger_files/_vti_cnf
Eiffel/doc/debugger_files/_vti_pvt
Eiffel/doc/debugging/_private
Eiffel/doc/debugging/_vti_cnf
Eiffel/doc/debugging/_vti_pvt
Eiffel/doc/debugging/debugger_files/_private
Eiffel/doc/debugging/debugger_files/_vti_cnf
Eiffel/doc/debugging/debugger_files/_vti_pvt
Eiffel/doc/runtime/GC/_private
Eiffel/doc/runtime/GC/_vti_cnf
Eiffel/doc/runtime/GC/_vti_pvt
Eiffel/doc/runtime/GC/multithreading/_private
Eiffel/doc/runtime/GC/multithreading/_vti_cnf
Eiffel/doc/runtime/GC/multithreading/_vti_pvt
Eiffel/doc/weasel_results/_private
Eiffel/doc/weasel_results/_vti_cnf
Eiffel/doc/weasel_results/_vti_pvt
Eiffel/eiffel/com_il_generation/Core/run-time/*.dll
Eiffel/eiffel/com_il_generation/Core/run-time/*.pdb
compatible/library/cURL/spec/mingw
compatible/library/cURL/spec/msc
compatible/library/com/spec/bcb
compatible/library/com/spec/mingw
compatible/library/com/spec/msc
compatible/library/docking/EIFGENs
compatible/library/encryption/spec
compatible/library/event/spec
compatible/library/gobo
compatible/library/gobo/spec
compatible/library/i18n/EIFGENs
compatible/library/i18n/i18n_dev.ecf
compatible/library/i18n/preferences.wb
compatible/library/i18n/root_class.e
compatible/library/i18n/sample.ecf
compatible/library/i18n/sample.rc
compatible/library/net/spec
compatible/library/obsolete/net/spec
compatible/library/store/spec
compatible/library/testing/.git
compatible/library/testing/EIFGENs
compatible/library/vision2/spec/bcb
compatible/library/vision2/spec/linux-x86-64
compatible/library/vision2/spec/macosx-x86
compatible/library/vision2/spec/mingw
compatible/library/vision2/spec/msc
compatible/library/vision2/spec/unix
compatible/library/web_browser/EIFGENs
compatible/library/wel/Clib/ilwel.lib
compatible/library/wel/Clib/make.log
compatible/library/wel/Clib/wel.lib
compatible/library/wel/Clib/wel_hook.exp
compatible/library/wel/spec/bcb
compatible/library/wel/spec/mingw
compatible/library/wel/spec/msc
contrib/library/graphic/toolkit/wex/library/wex/spec/bcb
contrib/library/graphic/toolkit/wex/library/wex/spec/mingw
contrib/library/graphic/toolkit/wex/library/wex/spec/msc
dotnet/codedom_provider_2.0/configuration/*.rc
examples/docking/simple/EIFGENs
examples/scoop/baboon_crossing/EIFGENs
examples/scoop/barbershop/*.rc
examples/scoop/barbershop/EIFGENs
examples/scoop/counter/EIFGENs
examples/scoop/dining_philosophers/EIFGENs
examples/scoop/dining_savages/EIFGENs
examples/scoop/faneuil_hall/EIFGENs
examples/scoop/partree/EIFGENs
examples/scoop/producer_consumer/EIFGENs
examples/scoop/quicksort/EIFGENs
examples/scoop/search-insert-delete/EIFGENs
examples/scoop/senate_bus/EIFGENs
examples/scoop/single_element_producer_consumer/EIFGENs
examples/store/convert/EIFGENs
examples/store/insert/EIFGENs
examples/store/nesting/EIFGENs
examples/store/oom2rm/EIFGENs
examples/vision2/widget_test/bitmaps
examples/vision2/widget_test/interface/default_object_state_checker.e
examples/vision2/widget_test/interface/events
examples/vision2/widget_test/interface/gb_color_stone.e
examples/vision2/widget_test/interface/gb_constants.e
examples/vision2/widget_test/interface/gb_ev_box_editor_constructor.e
examples/vision2/widget_test/interface/gb_ev_container_editor_constructor.e
examples/vision2/widget_test/interface/gb_ev_deselectable_editor_constructor.e
examples/vision2/widget_test/interface/gb_ev_fixed_editor_constructor.e
examples/vision2/widget_test/interface/gb_ev_frame_editor_constructor.e
examples/vision2/widget_test/interface/gb_ev_gauge_editor_constructor.e
examples/vision2/widget_test/interface/gb_ev_notebook_editor_constructor.e
examples/vision2/widget_test/interface/gb_ev_pixmap_handler.e
examples/vision2/widget_test/interface/gb_ev_sensitive_editor_constructor.e
examples/vision2/widget_test/interface/gb_ev_table_editor_constructor.e
examples/vision2/widget_test/interface/gb_ev_text_alignable_editor_constructor.e
examples/vision2/widget_test/interface/gb_ev_text_component_editor_constructor.e
examples/vision2/widget_test/interface/gb_ev_textable_editor_constructor.e
examples/vision2/widget_test/interface/gb_ev_tooltipable_editor_constructor.e
examples/vision2/widget_test/interface/gb_ev_viewport_editor_constructor.e
examples/vision2/widget_test/interface/gb_fixed_positioner.e
examples/vision2/widget_test/interface/gb_fixed_positioner_imp.e
examples/vision2/widget_test/interface/gb_general_utilities.e
examples/vision2/widget_test/interface/gb_supported_events.e
examples/vision2/widget_test/interface/gb_table_positioner.e
examples/vision2/widget_test/interface/gb_table_positioner_imp.e
examples/vision2/widget_test/interface/gb_widget_utilities.e
examples/vision2/widget_test/interface/ordered_string_handler.e
examples/vision2/widget_test/templates
experimental/library/cURL/spec/linux-x86
experimental/library/cURL/spec/linux-x86-64
experimental/library/cURL/spec/mingw
experimental/library/cURL/spec/msc
experimental/library/cocoa/EIFGENs
experimental/library/cocoa/spec
experimental/library/cocoa/tests/EIFGENs
experimental/library/com/spec/bcb
experimental/library/com/spec/mingw
experimental/library/com/spec/msc
experimental/library/docking/.git
experimental/library/docking/EIFGENs
experimental/library/encryption/spec
experimental/library/event/spec
experimental/library/gobo
experimental/library/gobo/spec
experimental/library/i18n/EIFGENs
experimental/library/i18n/i18n_dev.ecf
experimental/library/i18n/preferences.wb
experimental/library/i18n/root_class.e
experimental/library/i18n/sample.ecf
experimental/library/i18n/sample.rc
experimental/library/iphone/spec
experimental/library/net/spec
experimental/library/objc_base/spec
experimental/library/obsolete/net/spec
experimental/library/ribbon/spec/msc
experimental/library/runtime/logging/spec
experimental/library/store/spec
experimental/library/testing/.git
experimental/library/testing/EIFGENs
experimental/library/testing_eweasel/compilation/EIFGENs
experimental/library/vision2/spec/bcb
experimental/library/vision2/spec/linux-x86-64
experimental/library/vision2/spec/macosx-x86
experimental/library/vision2/spec/mingw
experimental/library/vision2/spec/msc
experimental/library/vision2/spec/unix
experimental/library/web_browser/EIFGENs
experimental/library/web_browser/spec/bsb
experimental/library/web_browser/spec/mingw
experimental/library/web_browser/spec/msc
experimental/library/wel/Clib/ilwel.lib
experimental/library/wel/Clib/make.log
experimental/library/wel/Clib/wel.lib
experimental/library/wel/spec/bcb
experimental/library/wel/spec/mingw
experimental/library/wel/spec/msc
framework/cli_debugger/Clib/OBJ
framework/cli_debugger/spec
framework/cli_writer/*.rc
framework/cli_writer/Clib/*.lib
framework/cli_writer/Clib/*.obj
framework/cli_writer/Clib/*.pdb
framework/cli_writer/spec
framework/configuration/*.wb
framework/configuration/EIFGENs
framework/parser/parser/output.txt
framework/settable_types/EIFGENs
framework/web/xebra/c_projects/.project
framework/web/xebra/c_projects/apache_mod_xebra/*.exp
framework/web/xebra/c_projects/apache_mod_xebra/*.idb
framework/web/xebra/c_projects/apache_mod_xebra/*.lib
framework/web/xebra/c_projects/apache_mod_xebra/*.manifest
framework/web/xebra/c_projects/apache_mod_xebra/*.obj
framework/web/xebra/c_projects/apache_mod_xebra/*.user
framework/web/xebra/c_projects/apache_mod_xebra/.libs
framework/web/xebra/c_projects/apache_mod_xebra/Debug
framework/web/xebra/c_projects/apache_mod_xebra/mod_xebra.slo
framework/web/xebra/c_projects/iis_xebra_handler/XebraEventSourceInstaller/XebraEventSourceInstaller/bin
framework/web/xebra/c_projects/iis_xebra_handler/XebraEventSourceInstaller/XebraEventSourceInstaller/obj
framework/web/xebra/c_projects/iis_xebra_handler/obj
framework/web/xebra/c_projects/iis_xebra_handler_testproject/XebraHandlerTester/XebraHandlerTester/bin
framework/web/xebra/c_projects/serverclienttest/.deps
framework/web/xebra/c_projects/serverclienttest/.libs
framework/web/xebra/c_projects/serverclienttest/AUTHORS
framework/web/xebra/c_projects/serverclienttest/COPYING
framework/web/xebra/c_projects/serverclienttest/ChangeLog
framework/web/xebra/c_projects/serverclienttest/INSTALL
framework/web/xebra/c_projects/serverclienttest/Makefile
framework/web/xebra/c_projects/serverclienttest/Makefile.in
framework/web/xebra/c_projects/serverclienttest/NEWS
framework/web/xebra/c_projects/serverclienttest/README
framework/web/xebra/c_projects/serverclienttest/aclocal.m4
framework/web/xebra/c_projects/serverclienttest/autom4te.cache
framework/web/xebra/c_projects/serverclienttest/client
framework/web/xebra/c_projects/serverclienttest/config.guess
framework/web/xebra/c_projects/serverclienttest/config.h
framework/web/xebra/c_projects/serverclienttest/config.h.in
framework/web/xebra/c_projects/serverclienttest/config.status
framework/web/xebra/c_projects/serverclienttest/config.sub
framework/web/xebra/c_projects/serverclienttest/configure
framework/web/xebra/c_projects/serverclienttest/depcomp
framework/web/xebra/c_projects/serverclienttest/install-sh
framework/web/xebra/c_projects/serverclienttest/libtool
framework/web/xebra/c_projects/serverclienttest/ltmain.sh
framework/web/xebra/c_projects/serverclienttest/missing
framework/web/xebra/c_projects/serverclienttest/server
framework/web/xebra/c_projects/serverclienttest/stamp-h1
framework/web/xebra/eiffel_projects/.project
framework/web/xebra/eiffel_projects/library/thread_utilities/EIFGENs
framework/web/xebra/eiffel_projects/library/xebra_error/EIFGENs
framework/web/xebra/eiffel_projects/library/xebra_http/EIFGENs
framework/web/xebra/eiffel_projects/library/xebra_taglibrary_base/EIFGENs
framework/web/xebra/eiffel_projects/library/xebra_taglibrary_form/EIFGENs
framework/web/xebra/eiffel_projects/library/xebra_taglibrary_xrpc/EIFGENs
framework/web/xebra/eiffel_projects/library/xebra_tags/EIFGENs
framework/web/xebra/eiffel_projects/library/xebra_utilities/EIFGENs
framework/web/xebra/eiffel_projects/library/xebra_web_application/EIFGENs
framework/web/xebra/eiffel_projects/xebra_server/*.log
framework/web/xebra/eiffel_projects/xebra_server/*.rc
framework/web/xebra/eiffel_projects/xebra_server/EIFGENs
framework/web/xebra/eiffel_projects/xebra_server/response.txt
framework/web/xebra/eiffel_projects/xebra_translator/*.rc
framework/web/xebra/eiffel_projects/xebra_translator/EIFGENs
framework/web/xebra/httpd
framework/web/xebra/tools/installer/win/*.log
framework/web/xebra/tools/installer/win/xebra_deployer/*.log
framework/web/xebra/tools/installer/win/xebra_deployer/*.rc
framework/web/xebra/tools/installer/win/xebra_deployer/EIFGENs
framework/web/xebra/www/bin
framework/web/xebra/www/demoapplication/*.log
framework/web/xebra/www/demoapplication/*.rc
framework/web/xebra/www/demoapplication/.generated
framework/web/xebra/www/demoapplication/EIFGENs
framework/web/xebra/www/examples/*.log
framework/web/xebra/www/examples/*.rc
framework/web/xebra/www/examples/.generated
framework/web/xebra/www/examples/EIFGENs
framework/web/xebra/www/helloworld/*.log
framework/web/xebra/www/helloworld/*.rc
framework/web/xebra/www/helloworld/.generated
framework/web/xebra/www/helloworld/EIFGENs
framework/web/xebra/www/servercontrol/*.log
framework/web/xebra/www/servercontrol/*.rc
framework/web/xebra/www/servercontrol/.generated
framework/web/xebra/www/servercontrol/EIFGENs
framework/web/xebra/www/statsvn
framework/web/xebra/www/support/.generated
framework/web/xebra/www/support/EIFGENs
framework/web/xebra/www/xebrahome/*.log
framework/web/xebra/www/xebrahome/.generated
framework/web/xebra/www/xebrahome/EIFGENs
framework/web/xebra/www/xmlrpc_demo/*.log
framework/web/xebra/www/xmlrpc_demo/.generated
framework/web/xebra/www/xmlrpc_demo/EIFGENs
framework/xml/gobo/removed
/free_add_ons
library/cURL/spec/linux-x86
library/cURL/spec/linux-x86-64
library/cURL/spec/mingw
library/cURL/spec/msc
library/cocoa/EIFGENs
library/cocoa/spec
library/cocoa/tests/EIFGENs
library/com/spec/bcb
library/com/spec/mingw
library/com/spec/msc
library/docking/.git
library/docking/EIFGENs
library/encryption/spec
library/event/spec
library/gobo
library/gobo/spec
library/i18n/EIFGENs
library/i18n/i18n_dev.ecf
library/i18n/preferences.wb
library/i18n/root_class.e
library/i18n/sample.ecf
library/i18n/sample.rc
library/iphone/spec
library/net/spec
library/objc_base/spec
library/obsolete/net/spec
library/ribbon/spec/msc
library/runtime/logging/spec
library/store/spec
library/testing/.git
library/testing/EIFGENs
library/testing_eweasel/compilation/EIFGENs
library/vision2/spec/bcb
library/vision2/spec/linux-x86-64
library/vision2/spec/macosx-x86
library/vision2/spec/mingw
library/vision2/spec/msc
library/vision2/spec/unix
library/web_browser/EIFGENs
library/web_browser/spec/bsb
library/web_browser/spec/mingw
library/web_browser/spec/msc
library/wel/Clib/ilwel.lib
library/wel/Clib/make.log
library/wel/Clib/wel.lib
library/wel/spec/bcb
library/wel/spec/mingw
library/wel/spec/msc
scripts/EIFGENs
tools/compile_all/*.exe
tools/compile_all/*.rc
tools/compile_all/baseline/*.log
tools/doc_builder/*.wb
tools/doc_builder/resources/xml/*.wb
tools/eiffel_image_embedder/EIFGENs
tools/eiffel_matrix_code_generator/*.exe
tools/estudio/*.wb
tools/estudio/EIFGENs
tools/estudio/config/EIFGENs
tools/estudio/estudio.rc
tools/iron/client/db
tools/iron/client/iron
tools/iron/client/iron-new
tools/quick_finalize/*.wb
tools/quick_finalize/EIFGENs
tools/quick_finalize/quick_finalize.rc
tools/repository_tool/data/db
tools/repository_tool/mydata
tools/syntax_updater/parser_v60/eiffel_parser.e
tools/syntax_updater/parser_v60/eiffel_scanner.e
tools/syntax_updater/parser_v60/eiffel_tokens.e
tools/syntax_updater/parser_v63/eiffel_parser.e
tools/syntax_updater/parser_v63/eiffel_scanner.e
tools/syntax_updater/parser_v63/eiffel_tokens.e
tools/syntax_updater/parser_v65/eiffel_parser.e
tools/syntax_updater/parser_v65/eiffel_scanner.e
tools/syntax_updater/parser_v65/eiffel_tokens.e
tools/syntax_updater/parser_v67/eiffel_parser.e
tools/syntax_updater/parser_v67/eiffel_scanner.e
tools/syntax_updater/parser_v67/eiffel_tokens.e
tools/syntax_updater/parser_v73/eiffel_parser.e
tools/syntax_updater/parser_v73/eiffel_scanner.e
tools/syntax_updater/parser_v73/eiffel_tokens.e
tools/vms/ES5SH/*.wb
tools/vms/ES5SH/EIFGEN
tools/vms/ES5SH/EIFGENs
tools/vms/ES5SH/es5sh.rc
unstable/library/persistency/database/sqlite3/spec/mingw
unstable/library/persistency/database/sqlite3/spec/msc
