Delivery/scripts/windows/install/bin
Delivery/scripts/windows/install/binaries
Delivery/scripts/windows/install/redist/bin
Delivery/scripts/windows/install/redist/obj
Delivery/studio/wizards/new_projects/dotnet/spec
Delivery/studio/wizards/new_projects/vision2/spec
Delivery/studio/wizards/new_projects/wel/spec
Delivery/studio/wizards/others/precompile/spec
free_add_ons/wex/library/wex/spec/bcb
free_add_ons/wex/library/wex/spec/mingw
free_add_ons/wex/library/wex/spec/msc
